name: Deploy to Surge

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: pnpm build

      - name: Deploy to Surge
        run: |
          echo "::add-mask::${{ secrets.SURGE_EMAIL }}"
          cp dist/index.html dist/200.html
          npx surge dist cycles.pedrodim.dev --token ${{ secrets.SURGE_TOKEN }}
